body{
  background-color: rgb(184, 25, 25);
}
.slot-machine {
  text-align: center;
}
.slot img{
  background-image: url(./tm-img/velocidad.jpg);
  background-size: auto;
}

.slot {
  display: inline-block;
  width: 15%;
  background-color: goldenrod;
  padding: 8px;
}
.slot img{
  width: 100%;
}